.narrow-container {
  margin: 0 auto;
  max-width: 560px;
}

.about-p {
  margin: 1rem 0;
}

.center-text {
  text-align: center;
}

.headshot {
  border-radius: 100%;
  width: 180px;
}

.h1-index {
  text-align: center;
}

.icon-bar {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.icon-bar a {
  color: #2d2d2d;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.light-text {
  color: #909090;
}

.low-navbar {
  text-align: center;
  font-size: 1.1rem;
}

.low-navbar ul {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.low-navbar a {
  color: #430c5a;
  margin: 0 1rem;
  font-size: 1.1rem;
}

.project-image {
  border-radius: 4px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  width: 100%;
}

.project-image:hover {
  -webkit-transform: scale(1.02);
	transform: scale(1.02);
}

.trad-link {
  text-decoration: underline;
  margin-right: 0.2rem;
  color: #2d2d2d;
}

.zoom {
  border-radius: 4px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.zoom:hover {
  -webkit-transform: scale(1.08);
	transform: scale(1.08);
}

a {
  text-decoration: none;
  color: grey;
}

footer {
  text-align: center;
  font-size: 0.7rem;
  color: grey;
}

footer .footer-name a {
  padding-left: 0.2rem;
  font-size: 0.9rem;
}

footer a {
  /*color: #2d2d2d;*/
}

footer .line {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 50%;
  border-top: 1px solid #ededed;
}

main {
  margin: 3rem auto;
  max-width: 720px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}

nav ul li {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0 0.4rem;
  color: grey;
}

nav {
  text-align: right;
  margin-right: 0.4rem;
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";

  line-height: 1.5;
  color: #464646;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 0.4px;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0.5rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

p {
  margin: 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

ul {
  margin-top: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
